.blur-1 {
  background-color: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.blur-2 {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7) !important;
}

.fill-window {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.fill {
  width: 100%;
  height: 100%;
}

.light {
  border: 2px solid yellow;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.875rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

p, span, div {
  font-size: 1rem;
  line-height: 1.5;
  color: #e0e0e0;
}

.round {
  border-radius: 2rem;
}


body {
  --s: 138px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  overflow-x: hidden;
  background-image: url("/public/background.jpg");
  background-size: cover;         /* mantiene ratio e taglia */
  background-position: left center; /* allinea a sinistra */
  background-repeat: no-repeat;   /* evita ripetizioni */

}

button.btn {
  border-radius: 1rem ;
  border: 2px solid transparent !important;
}

button.btn-danger {
  background-color: rgba(255, 0, 0, 0.25);
}

.btn-primary{
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-success {
  padding: 0.5rem;
  background-color: rgba(34, 153, 84,0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #229954;
}

.btn-warn {
  padding: 0.5rem;
  background-color: rgba(246, 255, 0, 0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-warn:hover {
  background-color: #229954;
}

.btn-danger{
  padding: 0.5rem;
  background-color: rgba(231, 76, 60, 0.5);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #c0392b;
}


.form-control{
  padding: 0.75rem !important;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 1rem ;
  font-size: 1rem !important;
  color: white !important;
  background-color: rgba(255, 255, 255, 0.25);
  transition: border-color 0.3s!important;
  outline: none !important; 
}

.form-control:hover {
  box-shadow: none !important;
  outline: 2px solid rgba(255, 255, 255, 0.25);          
}

.form-control:focus {
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-shadow: none !important;
  background-color: rgba(255, 255, 255, 0.25); /* sfondo nero */
  outline: 2px solid rgba(255, 255, 255, 0.25);           
}

.form-control:disabled {
  cursor: not-allowed;
  box-shadow: none !important;       /* rimuove il blu di Bootstrap */
  outline: none !important;           /* rimuove il contorno esterno */
}

.background-left-cover {
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
}
