.acrilic {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.25rem);
  box-shadow: inset 0px 0px 1rem 0px #FFFFFF;
}

.fill-window {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.fill {
  width: 100%;
  height: 100%;
}

.light {
  border: 2px solid yellow;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.875rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

p, span, div {
  font-size: 1rem;
  line-height: 1.5;
  color: #e0e0e0;
}

.round {
  border-radius: 2rem;
}



body {
  --s: 138px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  overflow-x: hidden;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
}