.sidebar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(.5rem);
  box-shadow: inset 0px 0px 1rem 0px #FFFFFF;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chatTitle {
  font-size: 2rem;
  font-weight: 700;
}

.sideButton {
  border: 0px solid transparent;
  border-radius: 10rem;
  padding: 0.5rem 0.75rem;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  color: #e0e0e0;
}

.sideButton:hover {
  background-color: rgba(240, 255, 255, 0.1);
  border-color: azure;
}