/* ProfileModal Styles */

.modalHeader {
  color: rgb(255, 255, 255);
  background-color: #414141;
}

.modal {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modalBody {
  background-color: #2b2b2b;
}

.userInfo {
  text-align: center;
  padding: 1.5rem 0;
}

.userAvatar {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 1rem;
}
