.card {
  border-radius: 1rem;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.1);
  padding: 0.5rem ;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.card2 {
  border-radius: 1rem;
  border-top: 2px inset rgba(255,255,255,0.3);
  border-bottom: 2px inset rgba(255,255,255,0.3);
  padding: 0.5rem ;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.cardText{
  display: flex;
  flex-direction: column;
}

.icon {
  font-size: 2rem;
}

.chatName {
  font-size: 20px; 
   font-weight: 400;
}